version: '2.4'

networks:
  api_net:
    driver: bridge
  data_net:
    driver: bridge

services:

  sut:
    image: vote
    entrypoint: npm test
    networks:
      - api_net
    depends_on:
      vote:
        condition: service_healthy

  vote:
    build: ./src/vote
    image: vote
    environment:
      # Read password from shell environment
      - PGPASSWORD
      - NODE_ENV=development
      - PORT=8080
    networks:
      - api_net
      - data_net
    ports:
      - "8080:8080"
    healthcheck:
      test: test `curl -I -s -o /dev/null -w '%{http_code}' localhost:8080` = 200
      interval: 10s
      timeout: 1s
      retries: 3
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    build:
      context: ./src/database/postgres
      network: host
    networks:
      - data_net
    ports:
      - "5432:5432"
    environment:
      # Read password from shell environment
      - POSTGRES_PASSWORD
      - PGUSER=postgres
      - PGDATABASE=votes
    # Purpose of this healthcheck is to test that POSTGRES_PASSWORD is
    # is set and that `psql` can connect to postgres database. Unless this
    # healthcheck passes, docker compose will pause at the
    # `database-postgres-1 Started` and never progress to `Running`.
    # docker compose -f docker-compose.postgres.test.yml ps -> indicates
    # that container exited (1).
    # docker compose -f docker-compose.postgres.test.yml logs postgres ->
    # indicates the error.
    # For local dev testing (which is the only reason for using docker
    # compose), the following settings are adequate.
    healthcheck:
      test: ["CMD", "/usr/local/bin/docker-healthcheck"]
      interval: 1s
      timeout: 1s
      retries: 1
