<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{option_a}} vs {{option_b}}!</title>
  <base href="/index.html">
  <meta content="width=device-width, initial-scale = 1.0" name="viewport">
  <link href="{{ url_for('static',filename='stylesheets/style.css') }}" rel='stylesheet'/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="content-container">
  <div id="content-container-center">
    <h3>{{option_a}} vs {{option_b}}!</h3>
    <form action="/" id="choice" method="POST" name='form'>
      <button class="a" id="a" name="vote" type="submit" value="a">{{option_a}}</button>
      <button class="b" id="b" name="vote" type="submit" value="b">{{option_b}}</button>
    </form>
    <div id="tip">
      (You can change your vote up until the election)
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

{% if vote %}
<script>
  var vote = "{{vote}}";

  if (vote == "a") {
    $(".a").prop('disabled', true);
    $(".a").html('{{option_a}} <i class="fa fa-check-circle"></i>');
    $(".b").css('opacity', '0.5');
  }
  if (vote == "b") {
    $(".b").prop('disabled', true);
    $(".b").html('{{option_b}} <i class="fa fa-check-circle"></i>');
    $(".a").css('opacity', '0.5');
  }
</script>
{% endif %}
</body>
</html>
